/*
 * Change the colorscheme for every menu simply by editing this file...
 *
 * Available Color Schemes
 *
 * bluish    berry    nordic    nightly    gotham    mask    faded    cocoa
 * black     white
 *
 */

* {
  al:      #00000000;
  bg:      #2d2939ff;
  se:      #332E41ff;
  fg:      #ffffffcc;
  ac:      #61afefff;
  red:     #E06C75ff;
  green:   #98C379ff;
  yellow:  #E5C07Bff;
  blue:    #61AFEFff;
  purple:  #C678DDff;
  cyan:    #56B6C2ff;
}
